.mian-song {
  height: 6.67rem;
  // background-image: url("https://p1.music.126.net/CTFzb4yty-5hlCFTWX-Ybw==/109951165054989345.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}
.main-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: inherit;
  overflow: hidden;
}
.main-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-attachment: fixed;
  filter: blur(10px);
}
.main-mask::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}
.main-music {
  z-index: 1;
  position: relative;
  height: 6.67rem;
}

.flex-center {
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
}
.song-disc {
  width: 2.5rem;
  height: 2.5rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.03rem #bbb solid;
  }
}
.turn {
  animation: turn 20s linear infinite;
}
/* 

 */
@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.lyric-content {
  position: relative;
  height: 1.8rem;
  margin-top: 0.3rem;
  overflow: hidden;
  user-select: none;
  .lyric-item-wrapper {
    .lyric-item {
      color: #ccc;
      font-size: 0.16rem;
      height: 0.34rem;
      text-align: center;
      transition: all 1s;
      cursor: pointer;
    }
    .active {
      color: #fff;
    }
  }
}
.play-line {
  margin-top: 0.2rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.play-control-absolute {
  width: 100%;
  position: absolute;
  bottom: 1rem;
}
.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  div {
    display: flex;
    justify-content: center;
  }
  span {
    color: #ffffff;
    font-size: 0.3rem;
  }
  .center-icon {
    font-size: 0.5rem;
  }
}
.popover-item {
  font-size: 0.14rem;
  .popover-item-artist {
    font-size: 0.12rem;
    color: #999;
  }
}
